.container
  .footer
    %small Copyright &copy;
    %a{:href => "https://www.udemy.com"}The complete Rails developer course

    by |
    %a{:href => "https://www.google.com"}Google
    %nav
      %ul
        %li= link_to "About", about_path
        %li= link_to "Contact Us", ""
